doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,  maximum-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    meta(property='og:url', content=url)
    meta(property='og:title', content=title)
    meta(property='og:type', content=type)
    meta(property='og:description', content=description)
    meta(property='og:image', content=image)

    title splitshift.com | connecting the service industry
    // Favicons
    link(rel='shortcut icon', href='/images/logo_title.png', type='image/x-icon')
    // icon title
    // BASE CSS
    link(href='/css/base.css', rel='stylesheet')
    // custom.css in assets
    link(href='/css/splitshift.min.css', rel='stylesheet')
    link(href='/css/additional.css', rel='stylesheet')
    link(href='/css/bootstrap-datepicker.standalone.min.css', rel='stylesheet')
    link(href='/css/magnific-popup.css', rel='stylesheet')
    // Google web fonts
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Gochi+Hand', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
    // REVOLUTION SLIDER CSS
    link(href='/rs-plugin/css/settings.css', rel='stylesheet')
    link(href='/css/extralayers.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    // Greentree grid gallery
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/finaltilesgallery.css')
    meta(name='google-signin-scope', content='profile email')
    meta(name='google-signin-client_id', content='187395441115-as5ie9or8dl1obnegmvmdk14dfeshnvi.apps.googleusercontent.com')
  body
    #root!= content
    #fb-root
    #user(style='display:none;')= user
    // //////////// script file ////////////
    // Common scripts
    script(src='/js/jquery-1.11.2.min.js')
    script(src='/js/common_scripts_min.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/expanding.js')
    script(src='/script.js')
    // SLIDER REVOLUTION 4.x SCRIPTS
    script(src='/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(src='/rs-plugin/js/jquery.themepunch.revolution.min.js')
    script(src='/js/revolution_func.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/jquery.finaltilesgallery.js')

    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=235025906884083";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    script(src='//cdn.ckeditor.com/4.5.11/standard/ckeditor.js')
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyC8lYMCy9ckgvNvQbTB6QxK9KBdC0B0ETI&libraries=places')

    script(src='//platform.linkedin.com/in.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')

    script(type='text/javascript', src='/bundle.js')
